.title {
    color: #212121;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase; 
}
.awesome {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

.container {
    max-width: 1170;
    padding: 100px 15px;
    margin: auto;
}

.awesome__title {
    margin-bottom: 25px;
}

.awesome__line {
    margin: 0 auto 30px;
    width: 64px;
    height: 2px;
    background-color: #d98943;
}

.awesome__description {
    color: #86878b;
    margin-bottom: 67px;
}
.awesome__row {
    display: flex;
    justify-content: space-between;
}
.awesome-item {
    max-width: 350px;
    height: 225px;
    margin: 16px;
}
 /* .awesome-item__img { 
    height: 30px;
    width: 23px;
    display: flex;
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #d98943;
    border-radius: 50%;
    margin-bottom: 30px; */

 .awesome-item__img-icon {
    display: flex;
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #d98943;
    border-radius: 50%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.awesome-item__img {
    display: block;
    margin: auto;
    height: 30px;
    width: 23px;
    border-top: 20px;
}
.awesome-item__title {
    color: #705959;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 33px;
}
.awesome-item__dicription {
    color: #000000;
    font-size: 14px;
}