.header{
    padding: 20px 0;
    background-color: #000;
} 
.header__logo{
    display: block;
    margin-right: 625px;
}
.header__start{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    list-style: none;
    display: flex;
    /* margin-right: 108px; */
}
.menu__list__item{
    margin-left: 48px;
    justify-content: space-between;
    text-align: center;
}
.menu__list__link{
    font-weight: 600;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', sans-serif;
}