.customers{
    background-color:#FFFFFF;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 119px;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    text-align: center;
    }
.customers__title{
    
    margin-bottom: 34px;
}
.customers__line{
    margin: 0 auto 34px;
    width: 64px;
    height: 2px;
    background-color: rgba(231, 36, 36, 1);
    
}
.customers__description{
    text-transform:initial;
    color:rgba(134, 135, 139, 1);
    padding-bottom: 67px; 
}
.customers__description:hover{
transform: translate(20%, 20%);
}
.information_row{
    display: flex;
    justify-content:space-around;
    margin: auto;
    margin: 0 -15px;
}
.information__item{
    margin: 0 15px;
    width: 298px;
}

.information-comment{
    /* width: 298px; */
    padding:10px;
    background: #E2E2E2;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 22px;
    position: relative;
    color: #86878B;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    }

.information-comment:hover{
    color:mediumblue;
    background-color:lightskyblue;
    font-weight: 900;
    font-size: 3px;
    }
.information-comment::after {
    content: '';
    position: absolute;
    left: 39px;
    border: 10px solid transparent;
    border-top: 10px solid #E2E2E2;
    display: inline-block;
    bottom: -16px;
   }
   
.information__text{
font-size: 14px;
text-transform:initial;
}

.foto__person{
border-radius: 50%;
margin: 15px 0;
/* float: left; */

} 

.person__info{
    /* display: flex; */
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    /* align-items: center; */
    margin: 30px 0;
    text-align: center;
    color: #333333;
    text-align: right;
       
}
.person__info:hover{
    transform: translate(20px, 20px);
}

.person__position{
    text-align: right;
    font-size: 14px;
    line-height: 19px;
    color: rgba(134, 135, 139, 1);
    margin: 12px;
}
.customer__foto{
    display: flex;
    align-items: center;
    justify-content:space-around;
}